<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Zain Memon">
        
        <title>{% if page.title %}"{{ page.title }}" by {% endif %}Zain Memon</title>
        
        <link href='http://fonts.googleapis.com/css?family=Crete+Round|Merriweather:400,700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet/less" href="/assets/css/style.less">
        <script type="text/javascript" src="/assets/javascripts/less-1.1.5.min.js"></script>
        
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5704960-4']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body lang="en">
        <div class="container">
            <header id="masthead">
                <h1><a href="/">Zain Memon</a></h1>
                <section class="social-icons">
                    <a href="mailto:zain@inzain.net" id="link-email">Email<img src="/assets/images/handycons/email.png"></a>
                    <a href="http://twitter.com/zainy" id="link-twitter">Twitter<img src="/assets/images/handycons/twitter.png"></a>
                    <a href="http://facebook.com/zainy" id="link-facebook">Facebook<img src="/assets/images/handycons/facebook.png"></a>
                    <a href="http://linkedin.com/in/zainm" id="link-linkedin">LinkedIn<img src="/assets/images/handycons/linkedin.png"></a>
                    <a href="http://feeds.feedburner.com/zainmemon" id="link-rss"><img src="/assets/images/handycons/rss.png">RSS</a>
                </section>
                <section class="about">
                    <p>Hi there!</p>
                    <p>I'm a 26-year-old coder and entrepreneur living in San Francisco, CA.</p>

                </section>
                
                
            </header>

            
            {{ content }}
            
            <footer>
                This content is made available under a 
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                Creative Commons Attribution 3.0 Unported License</a>.<br><br>
            </footer>
        </div>
    </body>
</html>
