<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Zain Memon">
        
        <title>{% if page.title %}"{{ page.title }}" by {% endif %}Zain Memon</title>
        
        <link href='http://fonts.googleapis.com/css?family=Crete+Round|Merriweather:400,700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet/less" href="/assets/css/style.less">
        <script type="text/javascript" src="/assets/javascripts/less-1.1.5.min.js"></script>
        
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body lang="en">
        <div class="container">
            <table class="page-header">
                <tr>
                    <td id="page-title"><a href="/">Zain Memon</a></td>
                    <td id="icons">
                        <a href="mailto:zain@inzain.net"><img src="/assets/images/handycons/email.png"></a>
                        <a href="http://twitter.com/zainy"><img src="/assets/images/handycons/twitter.png"></a>
                        <a href="http://facebook.com/zainy"><img src="/assets/images/handycons/facebook.png"></a>
                        <a href="http://linkedin.com/in/zainm"><img src="/assets/images/handycons/linkedin.png"></a>
                        <a href="/feed/index.xml"><img src="/assets/images/handycons/rss.png"></a>
                    </td>
                </tr>
            </table>
            
            {{ content }}
            
            <footer>
                This content is made available under a 
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                Creative Commons Attribution 3.0 Unported License</a>.<br><br>
            </footer>
        </div>
    </body>
</html>
